body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#0A0A0A;
    color:#fff;
}

/* HERO */

.hero{
    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.65)),
    url("images/hero-bg.jpg");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;

    position:relative;
}

.hero-overlay{
    width:90%;
    max-width:900px;
}

.hero h1{
    color:#D4AF37;
    font-size:5rem;
    margin-bottom:10px;
    letter-spacing:2px;
}

.hero h2{
    font-size:3rem;
    margin:0;
}

.hero p{
    font-size:1.2rem;
    margin:20px 0 35px;
}

.btn-gold{
    background:#D4AF37;
    color:#111;
    padding:16px 34px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    margin-right:12px;
}

.btn-outline{
    border:1px solid #D4AF37;
    color:#D4AF37;
    padding:16px 34px;
    border-radius:8px;
    text-decoration:none;
}
/* BOTONES DEL HERO */

.hero-buttons{
    display:flex;
    justify-content:center;
    gap:16px;
    margin-top:32px;
    flex-wrap:wrap;
}

.btn-gold{
    display:inline-block;
    background:#D4AF37;
    color:#111;
    padding:16px 34px;
    border-radius:10px;
    text-decoration:none;
    font-weight:700;
    transition:.3s;
}

.btn-gold:hover{
    background:#E5C96E;
    transform:translateY(-2px);
}

.btn-outline{
    display:inline-block;
    border:1px solid #D4AF37;
    color:#D4AF37;
    padding:16px 34px;
    border-radius:10px;
    text-decoration:none;
    font-weight:700;
    transition:.3s;
}

.btn-outline:hover{
    background:#D4AF37;
    color:#111;
}
